In [2]:
# 1 Прочитайте CSV файл (метод read_csv):
import pandas as pd
df = pd. read_csv('bestsellers with categories.csv')

In [3]:
# 2  Виведіть перші 10 рядків ( метод head):
df.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [4]:
# 3 Виведіть розміри датасету (метод shape) 
print(df.shape)
print("Кількість книг у датасеті:", df.shape[0])

(550, 7)
Кількість книг у датасеті: 550

In [5]:
# 4 Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення. 
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
df.head()

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [6]:
# 5 Вивести кількість пропусків у кожному стовпчику
print(df.isna().sum())
skip = df.isna().any().any()
print("Чи є в якихось змінних пропуски?", "Так" if skip else "Ні")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Чи є в якихось змінних пропуски? Ні

In [7]:
# 6 За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre  
print("Унікальні жанри:")
print(df['genre'].unique())

Унікальні жанри:
['Non Fiction' 'Fiction']

In [8]:
# 7 Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median 
print("Максимальна ціна:", df['price'].max())
print("Мінімальна ціна:", df['price'].min())
print("Середня ціна:", df['price'].mean())
print("Медіанна ціна:", df['price'].median())

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [12]:
# 8 Виконайте наступні завдання з пошуку і сортування даних 
question1 = df['user_rating'].max()
print("1. Який рейтинг у датасеті найвищий?", question1)
question3 =df.at[df['reviews'].idxmax(), 'name']
print("2. Яка книга має найбільше відгуків? :", question3)
question4 = df[(df['year'] == 2010) & (df['user_rating'] <= 50)].nlargest(1, 'price')
print("3. З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?", question4['name'].values[0])
question5 = ((df['year'] == 2012) & (df['genre'] == 'Fiction') & (df['user_rating'] <= 50)).sum()
print("4. Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році ? ", question5)
question6 = ((df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))).sum()
print("5. Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках ?", question6 )

1. Який рейтинг у датасеті найвищий? 4.9
2. Яка книга має найбільше відгуків? : Where the Crawdads Sing
3. З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? Publication Manual of the American Psychological Association, 6th Edition
4. Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році ?  21
5. Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках ? 1

In [13]:
# 9 Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min).
print(df.groupby('genre').agg({'price': ['max', 'min']}))

            price
              max min
genre
Fiction        82   0
Non Fiction   105   0